@import "reset.scss";
@import "variables.scss";
@import url("http://fonts.cdnfonts.com/css/mark-pro");

main {
  font-family: "Mark Pro", sans-serif;
  font-family: "Courier New", Courier, monospace;
}

header {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  // background-color: yellow;
  width: 96%;
  height: 90px;
  margin-left: 2%;
  margin-right: 2%;

  border-bottom: 1px dotted $red;

  img {
    width: 60px;
  }

  h1 {
    font-size: 55px;
    color: $red;
    font-family: "Courier New", Courier, monospace;
    font-family: "Mark Pro";
    font-weight: 400;
    margin-left: 20px;
  }
}
